.chart-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .upper-charts {
    display: flex;
    gap: 10px;
    flex: 1;
    justify-content: space-between;
  }
  
  .chart-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc; /* Add border */
    padding: 10px; /* Optional padding inside border */
    box-sizing: border-box;
    margin: 5px; /* Add margin for spacing */
  }
  
  .lower-chart {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc; /* Add border */
    padding: 10px; /* Optional padding inside border */
    box-sizing: border-box;
    margin: 5px; /* Add margin for spacing */
  }
  
  .chart-item > *, .lower-chart > * {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    height: 100%;
  }
  
  .title-colors {
    color: var(--theme-colors);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    font-size: 22px;
    font-weight: 700;
  }