<section class="loginWrapper">
    <div class="loginForm">
      <div class="textCenter headingWrap">
        <h1 class="loginHeading">Welcome to Mavarick Admin Assignment</h1>
        <p class="text">Enter your credentials to continue</p>
      </div>
      <div class="formContainer">
        <form [formGroup]="loginForm">
          <div class="formRow">
            <label class="label" for="email">Email</label>
            <input type="text" placeholder="email" formControlName="email" />
            <div
              *ngIf="submitted && f['email'].errors && !f['password'].errors"
              class="text-right"
            >
              <div *ngIf="f['email'].errors['required']" class="text-danger">
                Email is required !
              </div>
            </div>
            <div
              *ngIf="submitted && f['email'].errors && f['password'].errors"
              class="text-right"
            >
              <div *ngIf="f['email'].errors['required']" class="text-danger">
                Please enter email
              </div>
              <div *ngIf="f['email'].errors['email']" class="text-danger text-center">
                Invalid email format!
              </div>
        
            </div>
          </div>
          <div class="formRow">
            <label class="label" for="password">Password</label>
            <div class="position-relative">
              <input
                [type]="passwordVisible ? 'text' : 'password'"
                class="form-control"
                placeholder="Password..."
                formControlName="password"
                class="hasEyeIcon"
              />
              <button
                type="button"
                class="eyeBtn"
                (click)="togglePasswordVisibility()"
              >
                <i
                  [ngClass]="passwordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"
                ></i>
              </button>
            </div>

            <div
              *ngIf="submitted && f['password'].errors && !f['email'].errors"
              class="text-right"
            >
            <div *ngIf="f['password'].errors['required']" class="text-danger text-center">
              Password is required !
          </div>
          <div *ngIf="f['password'].errors['minlength']" class="text-danger text-center">
            Password must be at least 8 characters long !
        </div>
        <div *ngIf="f['password'].errors['passwordStrength']" class="text-danger text-center">
          Password must include uppercase, lowercase, number, and special character
        </div>

            </div>
            
          </div>
          <button class="primaryBtn loginBtn"       [disabled]="isSubmitting"
          (click)="login()">Sign In</button>
        </form>
      </div>
    </div>
  </section>
  